<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="MdiBackColor" value="#83D1C4"/>
      <add key="MustColor" value="#FFFFFF"/>
      <add key="ParamType" value="DB"/>
      <add key="ConnectionString" value="SiteSqlServer"/>
      <add key="DatabaseType" value="SQL SERVER 2008"/>
      <add key="SiteSqlServer" value="xoi22AUXdDxOZDTc8wgsMptFIh9wflz1dQdFuCC3eqf5R+dwrNhgU7l+dl6HPn6IfEYPuPdRVzbqlj98l6Od8TM8Ao0SkLc29HEBTjxC25U="/>
      <add key="SiteSqlServerOwner" value="dbo"/>
      <add key="IsRememberMe" value="false"/>
      <add key="RememberUser" value=""/>
      <add key="IsCacheParameter" value="true"/>
      <add key="PrintLeft" value="0"/>
      <add key="PrintTop" value="0"/>
      <add key="PrintCashLeft" value="0"/>
      <add key="PrintCashTop" value="0"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>